/*--------------------------------------------*/
/* Shiny Dashboard Header - dashboardHeader() */
/*--------------------------------------------*/
  
/* navigation bar */
/*.skin-black .main-header .navbar {
  background-color: #ecf0f5;
}*/
/* logo (title container) - hidden for this app */
.skin-black .main-header .logo {
   padding: 0;
   margin: 0;
}

/* logo (title container) when hovered - hidden for this app */
/*.skin-black .main-header .logo:hover {
  background-color: #ecf0f5;
}*/
/* sidebar menu toggle button */
.skin-black .main-header .navbar .sidebar-toggle {
  text-decoration: none;
}


/* sidebar menue toggle button when hovered  */
/*.skin-blue .main-header .navbar .sidebar-toggle:hover{
  background-color: #323337;
}*/

/* menu item text */
  .skin-black .sidebar-menu>li>a {
    color: #ffffff;
      text-decoration: none!important;
  }

.skin-black .sidebar-menu>li>a:link {
  text-decoration: none!important;
}

/*----------------------------------------------*/
/* Shiny Dashboard Body - dashboardBody() */
/*----------------------------------------------*/
  
/* Content wrapper - includes both sidebar and content */
.skin-black .wrapper {
  background-color: #ffffff;
}

/* Content wrapper - includes only content */
.skin-black div.content-wrapper{
  background: #ffffff;
  height: auto;
}


#custom-header-container {
  position: absolute;
  left: 75px;
  text-align: center;
}

