/*-------*/
/* Setup */
/*-------*/

:root {
    --main-color: #1a2d3f;
    --secondary-color: #4c5d6c;
    --accent-color: #0d5ba2;
    --accent-color-2: #23A085;
    --grey-dark: #6f6f6f;
    --grey-text: #404040;
    --grey-light: #f7f8f9;
}

@font-face {
    font-family: Avenir-Book;
    src: url(Avenir-Book.ttf) format('truetype');
}

/* rows - fluidRow() */
.row {
  margin: 0;
}

/* dividers - column() */
.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
  min-height: 1px;
  padding: 0;
}

/*--------------------------------------------*/
/* Shiny Dashboard Header - dashboardHeader() */
/*--------------------------------------------*/
  
/* navigation bar */
.skin-black .main-header .navbar {
  box-shadow: 0 0 1px 0 var(--grey-dark);
}

/* logo (title container) - hidden for this app */
.skin-black .main-header .logo {
   padding: 0;
   margin: 0;
}

/* logo (title container) when hovered - hidden for this app */
/*.skin-black .main-header .logo:hover {
  background-color: #ecf0f5;
}*/

/* sidebar menu toggle button */
.skin-black .main-header .navbar .sidebar-toggle {
  text-decoration: none;
}

/*----------------------------------------------*/
/* Shiny Dashboard Sidebar - dashboardSidebar() */
/*----------------------------------------------*/
  
/* sidebar container */
.skin-black .main-sidebar {
  padding-top: 60px; /* spacing to allow for top nav bar */
  background-color: var(--main-color); /* background color for sidebar */
  padding-bottom: 60px;
}

/* menu item text */
.skin-black .sidebar-menu>li>a {
  color: #ffffff;
  text-decoration: none!important;
}

.skin-black .sidebar-menu>li>a:link {
  text-decoration: none!important;
}

/* active selected tab in the sidebar */
.skin-black .sidebar-menu>li.active>a {
  background-color: var(--accent-color);
  border-left-color: var(--accent-color);
}

/* hover over a tab in the sidebar */
.skin-black .sidebar-menu>li:hover>a {
  background-color: var(--accent-color);
  border-left-color: var(--accent-color);
}

/* Submenu container */
.skin-black .sidebar-menu>li>.treeview-menu {
  margin: 0;
  padding: 0;
  background: var(--secondary-color);
  border-left: 3px solid transparent;
}
  
/* Submenu container - expanded */
.skin-black .sidebar-menu>li>.menu-expanded {
}

/*----------------------------------------------*/
/* Shiny Dashboard Body - dashboardBody() */
/*----------------------------------------------*/
  
/* Content wrapper - includes both sidebar and content */
.skin-black .wrapper {
  background-color: #ffffff;
}

/* Content wrapper - includes only content */
.skin-black div.content-wrapper{
  background: #ffffff;
  height: auto;
}

/* Content (section) */
.skin-black section.content{
  min-height: 100%;
  overflow: auto;
  margin: 0 -15px;
  padding: 0;
}

/* Tab content (div) */
.skin-black div.tab-content{
  margin: 0;
  padding: 0;
}

/* --------------- */
/* Nav Panel */
/* --------------- */

#al_introduction, #al_marine_seafood_production_scenarios, #al_references_contact, #al_population_growth, #al_nutrient_demand, #al_marine_seafood_as_source_nutrients, #al_future_seafood_supply, #al_seafood_consumption, #al_nutritional_health, #al_nutrient_consumption_profiles, #al_seafood_nutrition_content, #al_fisheries_reforms, #al_aquaculture_reforms, #al_mariculture_site_explorer {
  margin: -10pt 0 0 0;
  padding: 0 0 10pt 20pt;
  text-decoration: none;
  color: #ffffff;
}

/* --------------- */
/* Custom */
/* --------------- */

#custom-header-container {
  position: absolute;
  left: 75px;
  text-align: center;
}

/* General spaced divider */
#spaced-div {
  padding: 15px 25px 7.5px 25px;
}

/* TB spaced divider */
#t-spaced-div {
  padding: 15px 0px 0px 0px;
}

/* TB spaced divider */
#tb-spaced-div {
  padding: 15px 0px 15px 0px;
}

/* LR spaced divider */
#lr-spaced-div {
  padding: 0px 25px 0px 25px;
}

/*--------------*/
/* Overview */
/*--------------*/

#overview_div {
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  height: 35vh;
  width: auto;
}

#overview_picture_div{
  display: block;
  height: 35vh;
  width: auto;
  overflow: hidden;
}

#overview_picture_div img{
  object-fit: cover;
  min-width: 100vw;
  min-height: 35vh;
  max-width: 100%;
  max-height: 100%;
}

#overview_picture_overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: block;
  justify-content: center;
  align-items: center;
  background-color: rgba(0,0,0,0.5);
  border-bottom: 5px solid var(--accent-color);
}

#overview_picture_overlay_text{
   color: white;
   text-align: center;
   padding: 5% 10% 5%;
   width: 100%;
}


