/*--------------------------------------------*/
/* Shiny Dashboard Header - dashboardHeader() */
/*--------------------------------------------*/
  
/* navigation bar */
.skin-black .main-header .navbar {
  box-shadow: 0 0 1px 0 var(--grey-dark);
}

/* logo (title container) - hidden for this app */
.skin-black .main-header .logo {
   padding: 0;
   margin: 0;
}

/* logo (title container) when hovered - hidden for this app */
/*.skin-black .main-header .logo:hover {
  background-color: #ecf0f5;
}*/

/* sidebar menu toggle button */
.skin-black .main-header .navbar .sidebar-toggle {
  text-decoration: none;
}


/* sidebar menue toggle button when hovered  */
/*.skin-blue .main-header .navbar .sidebar-toggle:hover{
  background-color: #323337;
}*/

/* menu item text */
  .skin-black .sidebar-menu>li>a {
    color: #ffffff;
      text-decoration: none!important;
  }

.skin-black .sidebar-menu>li>a:link {
  text-decoration: none!important;
}

/*----------------------------------------------*/
/* Shiny Dashboard Body - dashboardBody() */
/*----------------------------------------------*/
  
/* Content wrapper - includes both sidebar and content */
.skin-black .wrapper {
  background-color: #ffffff;
}

/* Content wrapper - includes only content */
.skin-black div.content-wrapper{
  background: #ffffff;
  height: auto;
}

/* --------------- */
/* Nav Panel */
/* --------------- */

#al_introduction {
  margin: -10pt 0 0 0;
  padding: 0 0 10pt 20pt;
}

#al_marine_seafood_production_scenarios {
  margin: -10pt 0 0 0;
  padding: 0 0 10pt 20pt;
}

#al_references_contact{
  margin: -10pt 0 0 0;
  padding: 0 0 10pt 20pt;
}

/*--------------*/
/* Overview */
/*--------------*/

.overview-wrapper{
  position: absolute;
  height: 75vh;
}

.overview-wrapper .picture-wrapper{
  display: block;
  height: 75vh;
  width: auto;
  overflow: hidden;
}

.landing-wrapper .picture-wrapper img{
  object-fit: cover;
  min-width: 100vw;
  min-height: 75vh;
  max-width: 200%;
  max-height: 200%;
}

.landing-wrapper .picture-overlay-black{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: block;
  justify-content: center;
  align-items: center;
  background-color: rgba(0,0,0,0.5);
  border-bottom: 5px solid #3c8dbc;
}

.landing-wrapper .picture-overlay-black .picture-overlay-main-text{
   color: white;
   text-align: center;
   padding: 5% 10% 5%;
   width: 100%;
}

.landing-wrapper .picture-overlay-black .picture-overlay-button-row{
  display: flex;
  justify-content: center;
  align-items: center;
}

.landing-wrapper .picture-overlay-black .picture-overlay-button-row .picture-overlay-button-wrapper-l{
  color: white;
  text-align: center;
  margin: 50px 25px 50px 50px;
}

.landing-wrapper .picture-overlay-black .picture-overlay-button-row .picture-overlay-button-wrapper-c{
  color: white;
  text-align: center;
  margin: 50px 25px;
}

.landing-wrapper .picture-overlay-black .picture-overlay-button-row .picture-overlay-button-wrapper-r{
  color: white;
  text-align: center;
  margin: 50px 50px 50px 25px;
}

.landing-wrapper .picture-overlay-black .picture-overlay-button-row button{
  color: black;
  background-color: rgba(255,255,255,0.7); 
  border: 3px #3c8dbc solid; 
  padding: 25px 50px; 
  white-space: normal;
}

.landing-wrapper .picture-overlay-black .picture-overlay-button-row button:hover{
  color: white;
  background-color: #3c8dbc; 
}

.landing-wrapper .picture-overlay-black .picture-overlay-footer-row{
  display: block;
}

.landing-wrapper .picture-overlay-black .picture-overlay-footer-row .picture-overlay-footer-wrapper{
  color: white;
  text-align: center;
  padding: 40px;
}

.landing-wrapper .picture-overlay-black .picture-overlay-footer-row .picture-overlay-footer-wrapper a{
  color: white;
}

.landing-wrapper .picture-overlay-black .picture-overlay-footer-row .picture-overlay-footer-wrapper a:hover{
  color: #3c8dbc;
}


#custom-header-container {
  position: absolute;
  left: 75px;
  text-align: center;
}

